html, body{
  padding:0;
  margin:0;
  height:100%;
  background-color:#fff;
}

*, *:before, *:after {
  box-sizing: border-box;
}

canvas{
  cursor:grab;
  cursor:-webkit-grab; 
  cursor:-moz-grab;
}
canvas.marker-hover{
  cursor:pointer;
}
canvas.not(.marker-hover):active{
  cursor:grabbing;
  cursor:-webkit-grabbing; 
  cursor:-moz-grabbing;
}